body {
    background-color: lightgray;
}


.navbar {
    background-color: teal;
}

h1 {
    color: black;
}

.nav-item a {
    color: antiquewhite;
}

.navbar-toggler {
    background-color: antiquewhite;
}

.carousel {
    text-align: center;
    padding-top: 2px;
}

.carousel-item {
    width: 100;
    height: 700px;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 0.8em;
}

.card {
    text-align: center;
    padding: 1em;
    width: 400px;
}

.sec-main {
    padding-top: 2em;
}

.bar-lat {
    padding: 1em;
    width: 100%;
}

h1 {
    font-family: Copperplate Gothic;
}

h4 {
    font-family: Georgia;
}

h5 {
    font-family: Goudy Old Style;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.sobre {
    padding: 1em;
}

#art-one {
    padding: 1em;
    border-top: solid 1px black;
}

form {
    width: 100%;
    border: solid 1px black;
}

.contatos-section {
    padding: 1em;
}

.frm-ctt {
    padding: 1em;
    width: 100%;
}

input,
textarea {
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    padding: 2em;
}